/* GENERAL RULES */
* {
  box-sizing: border-box;
  font-family: "Stratos Deliveroo Web", "IBM Plex Bold", "IBM Plex Sans",
    sans-serif;
}
h3 {
  color: #2e3333;
  font-size: 1.5rem;
  line-height: 1.25rem;
  font-weight: bold;
  margin: 30px 0;
}

h4 {
  color: #2e3333;
  font-size: 22px;
  line-height: 29px;
  margin-bottom: 0.5rem;
  margin-top: 0;
}

/* Header */

.underline {
  height: 60px;
  border-bottom: solid #e9ebeb 1px;
}

.container {
  max-width: 75rem;
  margin: 0 auto;
  display: flex;
}
header img {
  width: 9.813rem;
  height: 2.938rem;
}
.descrip {
  padding: 1.875rem 0;
}
.descrip h2 {
  font-size: 2rem;
  font-weight: bold;
  color: #2e3333;
  margin-top: 0.6rem;
  margin-bottom: 2rem;
}
.descrip > div {
  margin-right: 30px;
}
.descrip p {
  font-size: 1.2rem;
  line-height: 1.5;
  color: #909494;
}

.descrip img {
  width: 350px;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
}
/* Content */
.main {
  background-color: #f3f5f5;
}

.content {
  max-width: 75rem;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.meal {
  display: flex;
  margin-right: 20px;
  background-color: white;
  min-width: 300px;
  max-width: 400px;
  padding: 15px;
  margin-bottom: 26px;
  width: 50%;
  cursor: pointer;
  border-radius: 5px;
  justify-content: space-between;
}
.menu > div:first-child .menu-item {
  display: flex;
}
.menu > div:not(div:nth-child(1)) > .menu-item {
  display: flex;
  flex-wrap: wrap;
}
.menu {
  margin-right: 30px;
}
.meal-descrip > p {
  font-size: 0.9rem;
  color: #808484;
  line-height: 1.3rem;
  height: 2.6rem;
  overflow: hidden;
  margin-bottom: 1rem;
}

.meals-pics > img {
  width: 130px;
  height: 130px;
  margin-left: 20px;
}

.meals-price > span:first-child {
  font-size: 20px;
  line-height: 17.7px;
  color: #808484;
}

.meals-price :nth-child(2) {
  margin-left: 20px;
  color: #ff8000;
  font-weight: bolder;
}
/* CART */
.cart {
  width: 350px;
  background-color: white;
  flex-shrink: 0;
  border-radius: 4px;
  padding: 10px 10px 0 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 22px 24px 0 rgba(46, 51, 51, 0.07);
  margin-top: 30px;
  position: sticky;
  top: 30px;
}
.cart p {
  color: #868a8a;
  font-size: 16px;
  text-align: center;
  padding: 3rem 0;
}

.cart button {
  border: none;
  cursor: not-allowed;
  border-radius: 4px;
  width: 100%;
  height: 50px;
  font-size: 18px;
  font-weight: bold;
}

.orders > span {
  color: #00ccbc;
}
.recipe {
  max-height: calc(100vh - 300px);
  border-bottom: #e9ebeb solid 1px;
  overflow: auto;
}
.dishes,
.deliveries {
  display: flex;
  justify-content: space-between;
}
.deliveries {
  height: 50%;
}
.deliveries:first-child {
  margin-top: 20px;
}
.deliveries > p {
  margin: 0;
  padding: 0;
}
.delivery {
  height: 95px;
  border-bottom: #e9ebeb solid 1px;
}
.dishe {
  display: flex;
}
.dishes > div > p {
  padding: 0;
  text-align: left;
  color: #8d8f8f;
}
.dishes > div:last-child > p:last-child {
  margin-left: 62px;
}
.dishes > div > p:nth-child(2) {
  margin-right: 10px;
}
.dishes > div:first-child > p:first-child,
.dishes > div:first-child > :nth-child(3) {
  color: #00ccbc;
  margin-right: 10px;
}
.split {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.box {
  width: 100%;
}
.split > p {
  padding: 0;
  color: black;
  font-size: 18px;
}

/* CART FLOAT */
.car-float {
  background-color: white;
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 10px;
  position: fixed;
  bottom: 0;
  display: none;
}
.car-float > button {
  width: 100%;
  height: 56px;
  font-size: 13px;
  color: white;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}
.car-float > span {
  height: 30px;
  width: 30px;
  color: white;
  text-align: center;
  padding-top: 6px;
  position: absolute;
  left: 30px;
  top: 24px;
  font-size: 13px;
}
.car-float > div {
  color: white;
  width: 100px;
  position: absolute;
  right: 30px;
  top: 29px;
  text-align: right;
}

/* HOVER */
.meal:hover {
  box-shadow: 0 22px 24px 0 rgba(46, 51, 51, 0.07);
}
.dishes > p:first-child:hover,
.dishes > :nth-child(3):hover {
  cursor: pointer;
}

/* MEDIA QUERIES */

@media (max-width: 1106px) {
  .menu > div:first-child .menu-item {
    display: block;
  }
  .menu-item {
    display: block;
    flex-wrap: wrap;
    width: 100%;
  }
  .meal {
    width: 100%;
    max-width: none;
  }
}

@media (max-width: 869px) {
  .container {
    flex-direction: column-reverse;
  }
  .descrip img {
    width: 100%;
    height: 200px;
    border-radius: 0;
  }
}
@media (max-width: 752px) {
  .cart {
    display: none;
  }
  .car-float {
    display: flex;
  }
}
